public/n8n-templates/wazuh-analyzer.json
{
  "name": "Wazuh Alert Analyzer - SOCFlow Placeholder Template",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "# Wazuh Alert Analyzer\n\nSOCFlow n8n workflow template. Import this file into n8n and configure the nodes for your SOC environment.",
        "height": 260,
        "width": 360
      },
      "id": "3efb4fc7-7b04-4b69-b604-005086431fc4",
      "name": "Guide Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -920,
        -260
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wazuh-analyzer",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7e9ddeb3-7674-4fa5-9c58-5d5a0806fc82",
      "name": "Website Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "53755f1d-0d75-4484-aca3-7f0a14a29fe8",
              "name": "automation",
              "value": "Wazuh Alert Analyzer",
              "type": "string"
            },
            {
              "id": "e4e208c6-99a5-4764-aac0-77fa97d3d2ee",
              "name": "template_status",
              "value": "socflow-template",
              "type": "string"
            },
            {
              "id": "93e182aa-435e-48aa-b79a-b03d1dd48137",
              "name": "soc_goal",
              "value": "Parse and explain Wazuh alerts",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6e0b1cfd-f32d-4779-aae9-c4c1cac07422",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: true,\n    automation: $json.automation,\n    status: 'socflow-template',\n    message: 'SOCFlow workflow executed successfully. Configure this Code node with your SOC rules and enrichment logic.',\n    recommended_output: {\n      summary: 'Short analyst summary goes here.',\n      severity: 'low | medium | high | critical',\n      evidence: [],\n      next_steps: []\n    },\n    received_input: $json\n  }\n}];"
      },
      "id": "b5b47ffc-db74-4300-aa8f-8bfae138d379",
      "name": "Build Template Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "8acf78f5-9c03-4439-8c0b-1f085734f23e",
      "name": "Respond to Website",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Website Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Build Template Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Template Response": {
      "main": [
        [
          {
            "node": "Respond to Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "socflow-template",
  "meta": {
    "templateCredsSetupCompleted": false,
    "socflowNote": "SOCFlow n8n workflow template for SOC automation."
  },
  "tags": []
}